@use "@/styles/variables" as *;

.categories {
  .categories_container {
    padding-top: 32px;

    .title {
      line-height: 1.1;
      font-weight: 700;
      color: black;
      font-size: 32px;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .categories_swiper {
      .slide {
        width: auto !important; // stop full-width slides
      }

      :global(.swiper-wrapper) {
        padding-bottom: 5px !important;
      }
      .category_card {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 16px;
        border: 1px solid #dedede;
        border-radius: 1rem;
        width: fit-content;
        cursor: pointer;
        transition: 0.3s;
        overflow: hidden;

        span {
          display: block;
          font-weight: 500;
          font-size: 1rem;
          transition: 0.3s;
        }

        svg {
          font-size: 1rem;
          transition: 0.3s;
        }

        &:hover,
        &.active {
          background-color: #fe6910;

          span {
            color: white;
          }

          svg {
            color: white;
          }
        }
      }
    }
  }
}
