@use "@/styles/variables" as *;

.benefits {
  background-color: white;
  .container {
    padding-top: 120px;
    padding-bottom: 120px;
    overflow: hidden;
    @media screen and (max-width: 767px) {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 80px;
    flex-wrap: wrap;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }

    h1 {
      color: black;

      &.right {
        font-size: 40px;
        font-weight: 700;
        width: 40%;
        line-height: 1.1;

        @media screen and (max-width: 992px) {
          width: 100%;
        }

        @media screen and (max-width: 767px) {
          font-size: 32px;
        }
      }

      &.left {
        font-size: 20px;
        font-weight: 500;
        width: 50%;
        line-height: 1.3;

        @media screen and (max-width: 992px) {
          width: 100%;
        }

        @media screen and (max-width: 767px) {
          font-size: 1rem;
        }
      }
    }
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
    }

    .card {
      position: relative;
      border-radius: 2rem;
      overflow: hidden;

      @media screen and (max-width: 992px) {
        width: calc(50% - 1.5rem);
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }

      .img {
        width: 100%;

        img {
          width: 100%;
          object-fit: cover;
          transition: transform 1s;
        }
      }

      &:hover {
        .img {
          img {
            transform: scale(1.1);
          }
        }
      }

      .content {
        position: absolute;
        padding: 2rem;
        top: 0;
        left: 0;
        color: white;
        line-height: 1.1;

        span.desc {
          display: block;
          text-transform: uppercase;
          margin-bottom: 8px;
          font-size: 13px;
        }

        h1 {
          font-weight: 500;
          font-size: 24px;
        }
      }
    }
  }
}
