$primary-color: #ffce18;
$color-accent: #2563eb;
$dark-color: #1a1a1a;
$dark-gray-color: #808080;
$light-gray-color: rgba(255, 255, 255, 0.58);
$text-color: #545353;
$red-color: #e94747;
$section-color: #f6f6f6;
$gray-color: rgba(14, 7, 29, 0.58);
