@tailwind utilities;

:root {
  --primary-color: #ff17e9;
  --color-accent: #2563eb;
  --dark-color: #1a1a1a;
  --dark-gray-color: #808080;
  --light-gray-color: #eaeaea;
  --text-color: #545353;
  --red-color: #e94747;
  --section-color: #f6f6f6;
}

body {
  position: relative;
  font-family: var(--font-inter), system-ui, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
