@use "@/styles/variables" as *;

.howItWorks {
  background-color: black;
  .container {
    padding-top: 120px;
    padding-bottom: 120px;
    overflow: hidden;

    @media screen and (max-width: 767px) {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      margin-bottom: 80px;
      flex-wrap: wrap;

      @media screen and (max-width: 992px) {
        flex-direction: column;
      }

      h1 {
        color: white;

        &.right {
          font-size: 40px;
          font-weight: 700;
          width: 40%;
          line-height: 1.1;

          @media screen and (max-width: 992px) {
            width: 100%;
          }

          @media screen and (max-width: 767px) {
            font-size: 32px;
          }
        }

        &.left {
          font-size: 20px;
          font-weight: 500;
          width: 50%;
          line-height: 1.3;

          @media screen and (max-width: 992px) {
            width: 100%;
          }

          @media screen and (max-width: 767px) {
            font-size: 1rem;
          }
        }
      }
    }

    .cards {
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 992px) {
        flex-wrap: wrap;
        gap: 1.5rem;
      }

      .card {
        position: relative;
        border-radius: 2rem;
        overflow: hidden;
        width: 350px;
        box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);

        @media screen and (max-width: 1180px) {
          width: 300px;
        }

        @media screen and (max-width: 992px) {
          width: initial;
        }

        @media screen and (max-width: 767px) {
          width: 100%;
        }

        &.secondCard {
          transform: scale(1.05);

          @media screen and (max-width: 992px) {
            transform: rotate(0) scale(1);
          }
        }

        &.firstCard {
          z-index: 2;
          transform: rotate(-8deg) scale(0.95);
          transform-origin: bottom center;

          @media screen and (max-width: 992px) {
            transform: rotate(0) scale(1);
          }

          .content .number span {
            top: -85%;
            right: -70%;
          }
        }

        &.thirdCard {
          z-index: 2;
          transform: rotate(8deg) scale(0.95);
          transform-origin: bottom center;

          @media screen and (max-width: 992px) {
            transform: rotate(0) scale(1);
          }
        }

        .image {
          width: 100%;
          overflow: hidden;

          img {
            width: 100%;
            object-fit: cover;
            transition: transform 1s;

            &.img {
              @media screen and (max-width: 992px) {
                display: none;
              }
            }

            &.mobileImg {
              display: none;

              @media screen and (max-width: 992px) {
                display: block;
              }
            }
          }
        }

        &:hover {
          .image {
            img {
              transform: scale(1.1);
            }
          }
        }

        .content {
          position: absolute;
          width: 100%;
          color: white;
          top: 0;
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: 1.1;

          .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 992px) {
              flex-direction: row;
              width: 100%;
            }
          }

          @media screen and (max-width: 992px) {
            text-align: start;
            align-items: flex-start;
          }

          .number {
            position: relative;
            text-align: center;
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: 1rem;
            width: fit-content;

            span {
              position: absolute;
              top: -80%;
              right: -60%;

              svg {
                width: 32px;

                animation: wiggle 300ms steps(2, end) infinite alternate;
              }
            }
          }

          .cardTitle {
            width: 100%;
            font-weight: 700;
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1rem;

            @media screen and (max-width: 992px) {
              text-align: center;
              flex-grow: 2;
            }
          }

          p {
            text-align: center;
            color: $light-gray-color;
            font-size: 1rem;

            @media screen and (max-width: 992px) {
              text-align: start;
            }
          }
        }
      }
    }
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
