@use "@/styles/variables" as *;

.footer {
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      line-height: 1.1;
      gap: 2rem;

      .social {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;

        @media (max-width: 767px) {
          justify-content: center;
        }

        .icon {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          transition: 0.5s;
          width: 50px;
          height: 50px;
          background-color: #d2d2d2;

          &.facebook {
            &:hover {
              background-color: #1877f2;

              svg {
                color: white;
              }
            }
          }

          &.linkedin {
            &:hover {
              background-color: #0077b5;

              svg {
                color: white;
              }
            }
          }

          &.youtube {
            &:hover {
              background-color: #ff0000;

              svg {
                color: white;
              }
            }
          }

          &.instagram {
            position: relative;

            svg {
              z-index: 5;
            }

            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              inset: 0;
              background-color: red;
              transition: 0.5s;
              opacity: 0;
              border-radius: 4px;
              background: #f09433;
              background: -moz-linear-gradient(
                45deg,
                #f09433 0%,
                #e6683c 25%,
                #dc2743 50%,
                #cc2366 75%,
                #bc1888 100%
              );
              background: -webkit-linear-gradient(
                45deg,
                #f09433 0%,
                #e6683c 25%,
                #dc2743 50%,
                #cc2366 75%,
                #bc1888 100%
              );
              background: linear-gradient(
                45deg,
                #f09433 0%,
                #e6683c 25%,
                #dc2743 50%,
                #cc2366 75%,
                #bc1888 100%
              );
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
            }
            &:hover {
              &::before {
                opacity: 1;
              }
              svg {
                color: white;
              }
            }
          }

          svg {
            font-size: 1.5rem;
            transition: 0.5s;
            color: black;
          }
        }
      }
    }

    .copyright {
      border-top: 1px solid black;
      margin-top: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;

      span {
        margin-top: 1rem;
      }
    }
  }
}
