@use "@/styles/variables" as *;

.dropdown {
  position: relative;
  user-select: none;

  &.black {
    .active {
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.28);

      svg {
        color: white;
      }

      &::after {
        background-color: white;
      }
      @media screen and (min-width: 768px) {
        &:hover {
          color: black;

          svg {
            color: black;
          }
        }
      }

      &.open {
        color: black;

        svg {
          color: black;
        }
      }
    }
  }

  &.white {
    .active {
      color: black;
      border: 1px solid #dedede;

      svg {
        color: black;
      }

      &::after {
        background-color: black;
      }
      @media screen and (min-width: 768px) {
        &:hover {
          color: white;

          svg {
            color: white;
          }
        }
      }

      &.open {
        color: white;

        svg {
          color: white;
        }
      }
    }
  }

  .active {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.16, 1, 0.3, 1);
    height: 54px;
    padding: 0 24px;
    gap: 8px;

    background-color: transparent;

    position: relative;
    overflow: hidden;

    svg {
      transition: 0.3s;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      z-index: -1;
      transition: all 500ms cubic-bezier(0.16, 1, 0.3, 1);
      transform: translateX(-100.5%);
      transform-origin: left center;
    }

    @media screen and (min-width: 768px) {
      &:hover {
        .frame {
          transform: scale(1.1, 1.18);
        }

        &::after {
          transform: translateX(0);
        }
      }
    }

    &.open {
      .frame {
        transform: scale(1.1, 1.18);
      }

      svg {
        transform: rotate(180deg);
      }

      &::after {
        transform: translateX(0);
      }
    }
  }

  .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 150px;
    left: 50%;
    translate: -50% 0;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    top: calc(100% + 8px);

    .frame {
      position: absolute;
      width: 100%;
      top: -1rem;
      background-color: transparent;
      height: 1rem;
    }

    .item {
      height: 54px;
      padding: 0 24px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 8px;
      position: relative;

      &:hover {
        background-color: #f5f5f5;
      }

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #dedede;
        left: 0;
      }
    }
  }
}
